/* theming */
:root {
    --white: #fff;
    --primary-color: #6096ba;
    --secondary-color: #274c77;
    --tertiary-color: #33ab63;
    --last-color: #e74a4a;
    --primary-color-support: rgb(2, 47, 61);
    --primary-font: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

body {
    background-color: var(--white);
}
/* welcome page */

nav {
    /* background-color: var(--primary-color); */
    /* height: 5em; */
    font-size: 14pt;
}
.nav-btn {
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    font-size: 14pt;
    font-weight: 700;
    border-radius: 15px;
    text-align: center;
    text-shadow: 1px 2px 2px var(--primary-color-support);
}
.nav-btn:hover {
    border: 1px solid var(--secondary-color-hover);
    background-color: var(--secondary-color-hover);
    color: var(--secondary-color);
    text-shadow: 1px 3px 2px var(--primary-color);
}
.navbarSupportedContent {
    background-color: var(--primary-color);
}
/* banner */
.banner {
    background-image: url("../img/bannner.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    border-radius: 10px;
    margin-top: 4.8em;
}
.banner h1 {
    text-shadow: 1px 2px 2px var(--primary-color-support);
    font-size: 4em;
    color: var(--white);
    font-family: "Times New Roman", Times, serif;
}
.banner h4 {
    text-shadow: 1px 2px 2px var(--primary-color-support);
    color: var(--white);
    font-family: "Times New Roman", Times, serif;
}
/* van */
.van-container .van-row {
    width: 100%;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.van-container .van-row .van-col .van-card {
    color: var(--primary-color-support);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;
    /* background-color: aqua; */
}
.van-container .van-row .van-col .van-card .card-body .card-title {
    font-size: 18pt;
    color: var(--secondary-color);
    text-shadow: 1px 2px 2px var(--primary-color);
}
.primary-bg{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--white);
}
.primary-color{
    color: var(--secondary-color);
}
.van-col{
    transition: transform 0.3s ease;
}
.van-col:hover{
    /* z-index: 1000; */
   transform: scale(1.04);
}


.navigation-header {
    background: var(--primary-color);
    width: 100%;
    height: 70px;
    color: var(--white);
}
.welcome-bags-card {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
}
.welcome-people-card {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
}
.welcome-people-card-text,
.welcome-bags-card-text {
    font-size: 14px;
}
.welcome-card-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* frequently ask */
.btn-reserve-now {
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    text-decoration: none;
}
.pre-ask{
    transition: transform 0.3s ease;
}
.pre-ask:hover{
    /* z-index: 1000; */
   transform: scale(1.04);
}

.welcome-f-ask-title {
    width: 40%;
    color: var(--secondary-color);
}
.welcome-f-ask-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
    background-color: var(--white);
}
body::-webkit-scrollbar {
    display: none;
}

/* register popups */
.swal-popup-custom {
    text-align: center;
}

.swal-actions-custom {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap size as needed */
}

.swal-confirm-button-custom,
.swal-cancel-button-custom {
    flex: 1;
    margin-left: 5px; /* Adjust the margin as needed */
    margin-right: 5px; /* Adjust the margin as needed */
    border-radius: 5px;
    padding: 0.5em;
}

.swal-confirm-button-custom {
    /* Add Bootstrap classes to the confirm button */
    background-color: #24c024; /* Example color */
    border-color: #4cae4c; /* Example border color */
    color: #fff; /* Example text color */
    /* border-color: #24c024; */
}

.swal-cancel-button-custom {
    /* Add Bootstrap classes to the cancel button */
    background-color: #1a14d6; /* Example color */
    border-color: #d43f3a; /* Example border color */
    color: #fff; /* Example text color */
}

.driver-contents{
    font-size: 12px;
    color: var(--secondary-color);
    margin-top: -10px;
}
.vehicle-card{
    height: 210px;
}
.vehicle-contents{
    font-size: small;
}
.primary-btn{
    background-color: var(--secondary-color);
    color: var(--white);
    text-decoration: none;
}
/* 500 width */
@media screen and (max-width: 500px) {
    /* client navigation mobile*/
    .navigation-header{
        height: inherit;
    }
    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        display: flex;
        justify-content: center; /* Change this line */
        align-items: center;
    }
    .navigation-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-title {
        text-align: center;
    }
    .offcanvas-body{
        font-size: 14px;
    }
    /* client navigation mobile end*/

    /* client driver information */
    .profile-details{
        border: 1px solid grey;
    }
    .profile-container, .profile-contents{
        margin: auto;
        font-size: large;
    }
    .primary-btn-container{
        align-items: center;
        font-size: 14px;
    }
    /* client about driver */
    
    
  
}

