:root {
  --theme: rgb(96, 150, 186);
}

/* Register Form */

.register-form {
  border: 1px solid var(--theme);
  border-radius: 12px;
  padding: 15px;
}

/* Register Form Header */

.register-form-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-info > i {
  color: var(--theme);
  font-size: 4.8rem;
}

.form-info > span[class="h3"] {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}

.close-btn > i {
  color: var(--theme);
}

/* Register Form Body */

form > div > input {
  box-shadow: 3px 4px 7px 0px rgb(210, 210, 210);
}

form > .terms-container {
  gap: 10px;
  border: 1px solid red;
}

.register-btn {
  color: white;
  width: 120px;
  border-radius: 20px;
  border: none;
  background-color: var(--theme);
  width: 170px;
  padding: 10px;
}